* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('/pics/backtest2.jpg');
    background-size: cover;
}
.container {
    padding-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container-left {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-right {
    margin-right: 20px;
}
.container button {
    width: 200px;
    height: 50px;
}
canvas {
    border: 3px solid grey;
    background-size: cover;
    background-color: #E88686;
};

#start:hover {
    background-color: black;
    border: 5px solid grey;
    color: grey;
}
#reset:hover {
    background-color: black;
    border: 5px solid grey;
    color: grey;
    
}
#score {
    width: 200px;
    height: 50px;
    margin: 8px 0, 0, 0;
    cursor: default;
}
#score:hover {
    background-color: #6c757d;
    border: none;
}

#pop-up {
    position: absolute;
     background-color: white;
     width: 500px;
     height: 400px;
     left: 30%;
     top: 88px;
     background-image: url('https://media.giphy.com/media/j6ZlX8ghxNFRknObVk/giphy.gif');
     background-size: cover;
     box-shadow: #6c757d;
}
